# MongoDB Configuration



# Application Configuration
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# For production, use a more secure MongoDB connection string with authentication
 MONGODB_URI=mongodb+srv://sanjiviniapp:Raghottam@sanjeeviniai.eq040vd.mongodb.net/?retryWrites=true&w=majority&appName=SanjeeviniAI
 MONGODB_DB=doctor_portal